<ion-view view-title="Account">

    <ion-footer-bar align-title="left">
      <div class="tabs-striped tabs-icon-only tabs-color-positive">
        <div class="tabs tabs-icon-top tabs-search">
          <a class="tab-item" ng-class="{active:uripath == '/app/profile'};" ng-click="goHome()">
            <i class="icon ion-home"></i>
            Home
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/cactivity'};" href="#/app/cactivity">
            <i class="icon ion-ios-box"></i>
            Storage
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/activity'};" href="#/app/activity">
            <i class="icon ion-ios-speedometer"></i>
            Dashboard
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/gallery'};" href="#/app/gallery">
            <i class="icon ion-ios-heart"></i>
            Favorites
          </a>
          <a class="tab-item" ng-click="toggleRightSideMenu()">
            <i class="icon ion-navicon"></i>
            <span class="badge badge-assertive" ng-show="notiCounts.notifications">{{notiCounts.notifications}}</span>
            More
          </a>
        </div>
      </div>
    </ion-footer-bar>    

    <ion-content>
        <div class="content">
            <ion-list class="list-nm list-wide animate-blinds">
                <ion-item class="item-icon-left item-icon-right" href="#/app/payment">
                  <i class="icon ion-card"></i>
                  Payment Method
                  <i class="icon ion-ios-arrow-thin-right"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/payout">
                  <i class="icon ion-ios-home"></i>
                  Payout Preferences
                  <i class="icon ion-ios-arrow-thin-right"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/transaction">
                  <i class="icon ion-arrow-return-left"></i>
                  Transaction History
                  <i class="icon ion-ios-arrow-thin-right"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/alerts">
                  <i class="icon ion-ios-bell"></i>
                  Alerts
                  <i class="icon ion-ios-arrow-thin-right"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/password">
                  <i class="icon ion-key"></i>
                  Password
                  <i class="icon ion-ios-arrow-thin-right"></i>
                </ion-item>
            </ion-list>
        
        </div>
    </ion-content>
</ion-view>
