<ion-modal-view>
  <ion-header-bar class="header-positive">
    <button class="button button-clear ion-ios-arrow-back" ng-click="closeModal()"></button>
    <h1 class="title">Activity Details</h1>
    <!--<div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>-->
  </ion-header-bar>
  <ion-content>
    <div class="list list-nm card card-flat" ng-show="activity.activity_type || activity.status_text == 'Pending'">
    
      <div class="item item-avatar">
        <img ng-src="{{activity.seeker_avatar}}">
        <span class="item-note">{{activity.date_added_ago}}</span>
        <h2>{{activity.seeker_name}}</h2>
        <p><span class="positive">{{activity.status_text}}</span></p>
      </div>
    
      
      <div class="item item-icon-left">
        <i class="icon ion-pin"></i>
        <strong class="list-white-space">{{activity.name}}</strong>
        <p>{{activity.space_type}}</p>
      </div>    
      
      <div class="item item-icon-left">
        <i class="icon ion-ios-calendar-outline"></i>
        <strong>{{activity.hour_count}} Month<span ng-show="activity.hour_count > 1">s</span> in storage</strong>
      </div>    

      <div class="item item-icon-left">
        <i class="icon ion-ios-location-outline"></i>
        <strong class="list-white-space">{{activity.location}}</strong>
      </div>    
      
      <div class="item item-icon-left">
        <i class="icon ion-ios-list-outline"></i>
        <strong>Details</strong>
        <p class="list-white-space" ng-bind-html="activity.description"></p>
      </div>    
    
    </div>
    
    
    
    <div class="list list-nm card card-flat" ng-show="activity.status_text != 'Pending' && activity.status_text != 'Cancelled' && activity.status_text != 'Draft'">
        <div class="item item-icon-left" ng-show="activity.activity_type === null">
          <i class="icon ion-clipboard"></i>
          <h3 class="list-white-space">{{activity.name}}</h3>
          <p>
              <span class="positive">{{activity.status_text}}</span>
              <span class="item-note">Posted {{activity.date_added_ago}}</span>
          </p>
        </div>
        <div class="item item-avatar" ng-show="activity.activity_type === null">
          <img src="{{activity.seeker_avatar}}">
          <h2>Space Seeker</h2>
          <p>{{activity.seeker_name}}</p>
        </div>     
        <div class="item item-avatar">
          <img src="{{activity.provider_avatar2}}">
          <h2>Space Trader</h2>
          <p>{{activity.provider_name2}}</p>
        </div>
        <div class="item">
          <strong>Next payment date</strong>
          <p>{{activity.next_payment_date}}</p>
        </div>
        <div class="item">
          <strong>Next payment amount</strong>
          <p>{{activity.next_payment_amount}}</p>
        </div>
        <div class="item">
          <strong>Payment to date</strong>
          <p>{{activity.last_payment_format}}</p>
        </div>
        <div class="item">
          <strong>Storage end date</strong>
          <p>{{activity.storage_end_date}}</p>
        </div>
        <div class="item" ng-click="openExtend(activity)">
          <strong>Days in storage</strong>
          <p>{{activity.days_in_storage}}</p>
        </div>
            
    
    </div>


    <div class="list list-nm card card-flat" ng-show="activity.activity_type !== null && activity.status_text != 'Cancelled' && activity.status_text != 'Draft'">
      <a class="item item-icon-left" ng-click="openModalOffers('offers')">
        <i class="icon ion-ios-pricetags-outline"></i>
        <strong>{{activity.offers.length}} Offer<span ng-show="activity.offers.length > 1">s</span></strong>
      </a>
      <a class="item item-icon-left" ng-click="openModalOffers('comments')">
        <i class="icon ion-ios-chatboxes-outline"></i>
        <strong>{{activity.comments.length}} Comment<span ng-show="activity.comments.length > 1">s</span></strong>
      </a>
    </div>
       
    
    <!--<div class="" ng-if="activity.seeker_id == userData.seeker_id && activity.status == '1'">
        <button class="button button-box button-energized button-block" ng-click="confirmChangeStat(activity.status_text, activity.id)">Change Status</button>
    </div>-->
    
    <div class="" ng-show="activity.status_text == 'Pending' && activity.seeker_id != userData.seeker_id">
        <button class="button button-box button-energized button-block" ng-click="confirmChangeStat(activity.status_text, activity.id)">Confirm Booking</button>
    </div>
    
    <div class="" ng-show="activity.status_text == 'In Storage' && activity.seeker_id != userData.seeker_id && activity.stored_confirm == 'Y'">
        <button class="button button-box button-energized button-block" ng-click="confirmChangeStat(activity.status_text, activity.id)">Goods Returned?</button>
    </div>
    
    <div class="" ng-show="activity.status_text == 'In Storage' && activity.seeker_id == userData.seeker_id && activity.stored_confirm == 'N'">
        <button class="button button-box button-energized button-block" ng-click="confirmChangeStat(activity.status_text, activity.id)">Confirm In Storage</button>
    </div>
    
    <div class="" ng-show="activity.status_text == 'In Transit' && activity.seeker_id != userData.seeker_id">
        <button class="button button-box button-energized button-block" ng-click="confirmChangeStat(activity.status_text, activity.id)">Already in Storage?</button>
    </div>
    
    <div class="" ng-show="activity.status_text == 'Returned' && activity.seeker_id == userData.seeker_id">
        <button class="button button-box button-energized button-block" ng-click="confirmChangeStat(activity.status_text, activity.id)">Completed</button>
    </div>
    
    <div class="" ng-show="activity.status_text == 'Awaiting' && activity.seeker_id == userData.seeker_id">
        <button class="button button-box button-energized button-block" ng-click="confirmChangeStat(activity.status_text, activity.id)">Pay {{activity.provider_name}}</button>
    </div>
    
    
    
  </ion-content>
</ion-modal-view>
