<ion-modal-view>
  <ion-header-bar class="header-positive">
    <button class="button button-clear ion-ios-arrow-back" ng-click="closeInsuranceMore()"></button>
    <h1 class="title">Spacelli Insurance</h1>
  </ion-header-bar>


  <ion-content class="bg-modal-loginx">
		<!--<h3 class="dark text-center text-white padding">Forgot Password</h3>-->

          <div class="padding">
           
<div class="well well-sm" style="padding: 15px; background-color: #f1f1f1; ">

<span class="small">Please note this is a summary of the Spacelli Insurance policies  ONLY. Nothing contained herein is general or personal advice. Furthermore, it  is declared and agreed that nothing contained in this summary should be  understood to be an express or implied condition, term or exclusion which forms  part of the Insurer Policy terms and conditions or be relied upon in the event  of a Claim. Please contact Spacelli for access to the Insurance Policy Schedule  and/or Policy Wording for information as to the specific coverage, terms,  conditions and exclusions afforded by the Insurer in the event of an incident,  occurrence or Claim. Please also note that each claim is subject to an Excess -  full details of the Policy, its coverage and exclusions including the  applicable excess details are available on request <br/>
  Spacelli&rsquo;s Insurance  Policies are in keeping with our user Terms and Conditions and we encourage all  our users to familiarize themselves again with our expected standards to ensure  they have the&nbsp;benefit of our Insurance. </span>
</div>

<h4>Public and Products  Liability (including Care, Custody and Control coverage) - Policy placed via CGU Insurance</h4>
<ul class="list-bullet" type="disc">
  <li>Cover for       our Space Traders against any legal liability arising from the following       services: Packing, pick up, delivery, unloading and/or moving items of       storage as per Spacelli&rsquo;s Terms and Conditions </li>
  <li>$10,000,000       limit any once occurrence for Public and Products Liability (legal       liability&nbsp; </li>
  <li>$100,000       care, custody and control of third party property (cover for any negligent       care, custody and control of Space Seeker goods and items by the covered       Space Trader) </li>
  <li>$250,000 for       errors and omissions (incidental advice and professional services in       relation to the covered activities i.e.&nbsp;Alleged misleading and       deceptive conduct by the covered Space Trader) </li>
  <li>Main       Exclusions: </li>
  <ul class="list-bullet" type="circle">
    <li>Damage        caused by the interruption or cutting off of amenities such as Gas, Water        and Electricity to the Space Traders space </li>
    <li>Policy        excludes property damage whilst the stored goods and items are static        (refer Storage Insurance Policy with CGU for this risk) </li>
    <li>Hazardous        Goods and Items i.e. Any forms of dry or wet chemicals </li>
    <li>Flammable        Goods i.e Any goods that have a high flammable rating </li>
    <li>Perishable        Goods i.e. Any livestock, fish, marine life, plants, vegetation, soils        and other organic &nbsp;substances </li>
    <li>There is no        cover for first party personal injury&nbsp;&nbsp; &nbsp; </li>
  </ul>
</ul>
<p><strong><em>Important</em></strong><em>: For full details of Spacelli&rsquo;s Insurance Coverage, Conditions,  Exclusion and the Insurance Policy Excess amounts is available on request&nbsp;</em></p>

<h4>Storage and Transit  Insurance (Annual Cargo / Stock Through-Put) –&nbsp;Policy Placed via CGU  Insurance&nbsp;</h4>

<ul class="list-bullet" type="disc">
  <li>Cover for       lawful goods and items of the Space Seekers subject ALWAYS to the standard       Spacelli Terms and Conditions and policy terms, conditions and exclusions </li>
  <li>Conveyance       of goods and items cover MUST be on a roadworthy road in a properly       registered and insured vehicle driven by an appropriately licensed       driver&nbsp; </li>
  <li>$50,000       Limit any one loss, damage or theft whilst goods and items are static       (stored) or in-transit </li>
  <li>$10,000 for       debris removal cover </li>
  <li>$10,000       repossession cost of recovery </li>
  <li>Main       Exclusions: </li>
  <ul class="list-bullet" type="circle">
    <li>Mysterious        or unexplained disappearance </li>
    <li>Ordinary        wear and tear </li>
    <li>Molds,        moths, rats, insects and vermin </li>
    <li>Intentional        acts </li>
    <li>Any loss or        damage prior to the period of storage commencing </li>
  </ul>
</ul>
<p><strong><em>Important</em></strong><em>: For full details of Spacelli&rsquo;s Insurance Coverage, Conditions,  Exclusion and the Insurance Policy Excess amounts is available on request&nbsp;</em></p>

         
            <p class="text-center">
              <a ng-click="closeInsuranceMore()" class="button button-positive button-block">
                OK
              </a>
            </p>

          </div>




  </ion-content>
</ion-modal-view>
