<ion-modal-view>
  <ion-header-bar class="header-positive">
    <button class="button button-clear ion-ios-arrow-back" ng-click="closeIntroVideo()"></button>
    <h1 class="title">Spacelli Video</h1>
  </ion-header-bar>


  <ion-content>

    <div class="row">
      <div class="col">
        <div class="video-container">
          <video id="modalVideo" controls="controls" poster="http://54.236.246.25/assets/video/video background.png" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="http://54.236.246.25/assets/video/Spacelli_Preview_26-11.mp4" type="video/mp4"/></video>
        </div>
      </div>
    </div>


  </ion-content>
</ion-modal-view>
