<ion-view view-title="Password">

    <ion-footer-bar align-title="left">
      <div class="tabs-striped tabs-icon-only tabs-color-positive">
        <div class="tabs tabs-icon-top tabs-search">
          <a class="tab-item" ng-class="{active:uripath == '/app/profile'};" ng-click="goHome()">
            <i class="icon ion-home"></i>
            Home
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/cactivity'};" href="#/app/cactivity">
            <i class="icon ion-ios-box"></i>
            Storage
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/activity'};" href="#/app/activity">
            <i class="icon ion-ios-speedometer"></i>
            Dashboard
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/gallery'};" href="#/app/gallery">
            <i class="icon ion-ios-heart"></i>
            Favorites
          </a>
          <a class="tab-item" ng-click="toggleRightSideMenu()">
            <i class="icon ion-navicon"></i>
            <span class="badge badge-assertive" ng-show="notiCounts.notifications">{{notiCounts.notifications}}</span>
            More
          </a>
        </div>
      </div>
    </ion-footer-bar>    

    <ion-content>
        <form novalidate="novalidate" ng-submit="submitPass(pass)">
            <div class="list list-nm list-wide card card-flat">
              <label class="item item-input">
                <input type="password" ng-model="pass.current" placeholder="Current Password">
              </label>
              <label class="item item-input">
                <input type="password" ng-model="pass.new" placeholder="New Password">
              </label>
              <label class="item item-input">
                <input type="password" ng-model="pass.confirm" placeholder="Confirm Password">
              </label>
            </div>
            <div class="">
        
                <button class="button button-box button-energized button-block">
                    Submit
                </button>
            </div>
            
        </form>

    </ion-content>
</ion-view>
