<ion-view view-title="Transaction History">

    <ion-footer-bar align-title="left">
      <div class="tabs-striped tabs-icon-only tabs-color-positive">
        <div class="tabs tabs-icon-top tabs-search">
          <a class="tab-item" ng-class="{active:uripath == '/app/profile'};" ng-click="goHome()">
            <i class="icon ion-home"></i>
            Home
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/cactivity'};" href="#/app/cactivity">
            <i class="icon ion-ios-box"></i>
            Storage
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/activity'};" href="#/app/activity">
            <i class="icon ion-ios-speedometer"></i>
            Dashboard
          </a>
          <a class="tab-item" ng-class="{active:uripath == '/app/gallery'};" href="#/app/gallery">
            <i class="icon ion-ios-heart"></i>
            Favorites
          </a>
          <a class="tab-item" ng-click="toggleRightSideMenu()">
            <i class="icon ion-navicon"></i>
            <span class="badge badge-assertive" ng-show="notiCounts.notifications">{{notiCounts.notifications}}</span>
            More
          </a>
        </div>
      </div>
    </ion-footer-bar>    

    <ion-content>
        <div class="list list-nm">
            <p class="padding text-center" ng-show="transactions.length == 0">
                Nothing to show you.
            </p>
            <div class="item" ng-repeat="transaction in transactions">
              <p class="list-white-space" ng-bind-html="transaction.text"></p>
            </div>      
        
        </div> 
    </ion-content>
</ion-view>
